export(ResSel)
export(SampleTrees)
export(SlidingWindow)
export(SuperMatrix)
export(WinCalcD)
export(CalcD)
export(CalcPopD)
export(AncCond)
export(FuzzyMatch)
export(Pfsa)
export(Pfss)
export(Pfaa)
importFrom(graphics, abline, plot, points)
importFrom(stats, lm, pnorm, sd)
importFrom(utils, adist, write.csv)
importFrom(seqinr, read.alignment)
importFrom(phytools, anc.ML, make.simmap, describe.simmap)
importFrom(ape, read.nexus, read.dna, write.dna, write.nexus, write.tree)
importFrom(geiger, sim.char)
