export(AICc)
export(AncCond)
export(CalcD)
export(CalcPopD)
export(Even)
export(FuzzyMatch)
export(Mode)
export(PPSDiscrete)
export(ReorderData)
export(ResSel)
export(SampleTrees)
export(SlidingWindow)
export(SuperMatrix)
export(ViewEvo)
export(WinCalcD)
importFrom(seqinr, read.alignment)
import(ape)
import(geiger)
import(shiny)
import(phytools)
