export(AICc)
export(AncCond)
export(CalcD)
export(CalcPopD)
export(Even)
export(FuzzyMatch)
export(Mode)
export(PPSDiscrete)
export(ReorderData)
export(ResSel)
export(SampleTrees)
export(ShowTree)
export(SlidingWindow)
export(SuperMatrix)
export(ViewEvo)
export(WinCalcD)
export(SimThresh3)

importFrom(seqinr, read.alignment)
importFrom(graphics, abline, lines, plot, points, text)
importFrom(stats, density, lm, pnorm, sd)
importFrom(utils, adist, write.csv)
importFrom(viridis, viridis)
importFrom(phytools, fastBM, anc.ML, make.simmap, describe.simmap)
importFrom(ape, read.nexus, tiplabels, plot.phylo, read.dna)
importFrom(geiger, sim.char)
importFrom(shiny, runApp)
